/* ••••••••••••••••••••• */
/* General               */
/* ••••••••••••••••••••• */


* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: rgb(242, 242, 242);
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.article {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

figure img {
    object-fit: cover;
    border: 5px solid rgba(255, 255, 255, 1);
    border-top-left-radius: 20px;
}

.article-header--title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

a {
    color: inherit;
    text-decoration: none;
}

.main-header,
.main-container,
.main-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* ••••••••••••••••••••• */
/* Header                */
/* ••••••••••••••••••••• */


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
    height: 79px;
}

header img {
    width: 61px;
    height: 19px;
}

.main-header h1 {
    margin: 0;
}

.main-nav {
    display: flex;
    list-style: none;
    gap: 68px;
}

.main-nav a {
    padding: 37px 25px;
    border-top: 2px solid transparent;
}

.main-nav a:hover {
    border-top: 2px solid rgba(0, 101, 252, 1);
    color: rgba(0, 101, 252, 1);
}


/* ••••••••••••••••••••••••••••• */
/* Search                        */
/* ••••••••••••••••••••••••••••• */


.section-search {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    margin-bottom: 33px;
}

.search-title b {
    font-size: 20px;
}

.search-content {
    border: 1px solid rgba(242, 242, 242, 1);
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    width: 377px;
    height: 47px;
    gap: 24px;

}

.search-content label {
    background-color: rgba(242, 242, 242, 1);
    border: 1px solid rgba(242, 242, 242, 1);
    width: 13%;
    height: 48px;
}

.search-content i {
    margin: 16px 18px;
    color: black;
}

.search-content input {
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    width: 59%;
    text-align: center;
}

.search-content button {
    background-color: rgb(0, 101, 252);
    border: 1px solid #0065FC;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 35%;
    height: 47px;
    cursor: pointer;
}

.search-content button i {
    display: none;
}


/* ••••••••••••••••••••••••••••• */
/* Filters                       */
/* ••••••••••••••••••••••••••••• */


.filters-title,
.footer-column p {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.filters ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding-left: 0px;
    margin: 0px;
}

.filters button {
    display: flex;
    border: 2px solid #d9d9d9;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 4px 21px 4px 21px;
    font-weight: 700;
    font-size: 16px;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.filters button:hover {
    background-color: rgba(222, 235, 255, 1);
    border-color: rgba(217, 217, 217, 1);
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.filters i {
    padding-right: 10px;
}


/* ••••••••••••••••••••• */
/* Main                  */
/* ••••••••••••••••••••• */


.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}


/* •••••••••••••••••••••••••••••••••••••• */
/* Accommodations - Populars - Activities */
/* •••••••••••••••••••••••••••••••••••••• */


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header h2 {
    margin: 0;
    font-size: 22px;
}

.article-illustration {
    margin: 0;
}

.article-content {
    padding-left: 15px;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
}

.article-header {
    margin-bottom: 4px;
}

.article-content--description p {
    margin: 0;
}

.article-content--icon {
    padding-bottom: 10px;
}


/* ••••••••••••••••••••••••• */
/* Accommodations - Populars */
/* ••••••••••••••••••••••••• */


.row section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

.col-1 .article-header--title,
.col-2 .article-header--title {
    margin: 0;
}


/* ••••••••••••••••••••••••••••• */
/* Accommodations                */
/* ••••••••••••••••••••••••••••• */


.col-2 {
    width: 65%;
    box-sizing: border-box;
}

.accommodations {
    height: 622px;
}

.col-2 .section-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
    gap: 15px;
    justify-content: space-around;
}

.col-2 .section-content a {
    width: 31%;
}

.col-2 .article {
    height: 207px;
    margin-bottom: 5px;
}

.col-2 img {
    width: 100%;
    box-sizing: border-box;
    height: 118px;
    border-top-right-radius: 20px;
}

.section-footer {
    display: flex;
    font-weight: 700;
    height: 21px;
    margin-top: 33px;
}


/* ••••••••••••••••••••••••••••• */
/* Populars                      */
/* ••••••••••••••••••••••••••••• */


.col-1 {
    width: 32%;
    box-sizing: border-box;
}

.col-1 .section-content a {
    width: 100%;
}

.col-1 .article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
    height: 146px;
}

.col-1 .article-illustration {
    width: 33%;
}

.col-1 img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.col-1 .article-content {
    width: 67%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.col-1 .article-content--txt {
    margin-top: 10px;
}


/* ••••••••••••••••••••••••••••• */
/* Activities                    */
/* ••••••••••••••••••••••••••••• */


.activities {
    padding: 30px;
}

.col-3 .section-header {
    margin-bottom: 33px
}

.col-3 .section-content {
    padding-top: 20px;
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.col-3 .article-illustration img {
    height: 380px;
    width: 297px;
    max-width: 100%;
    border: none;
    border-top-right-radius: 20px;
}

.col-3 .article-content {
    padding: 0;
}

.col-3 .article-header--title {
    height: 50px;
    margin: 0 0 0 15px;
    display: flex;
    align-items: center;
}


/* ••••••••••••••••••••••••••••• */
/* Footer                        */
/* ••••••••••••••••••••••••••••• */


.main-footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
}

.footer-column {
    width: 446px;
}

footer ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 15px;
    list-style: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */


@media screen and (max-width: 1024px) {


    /* ••••••••••••••••••••••••••••• */
    /* General                       */
    /* ••••••••••••••••••••••••••••• */


    body {
        margin: 0;
    }

    .main-header,
    .main-container,
    .main-footer {
        padding-top: 8px;
    }

    .section-title {
        font-size: 20px;
    }


    /* ••••••••••••••••••••••••••••• */
    /* Header                        */
    /* ••••••••••••••••••••••••••••• */


    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .section-search {
        gap: 25px;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
        height: auto;

    }

    .filters ul {
        flex-wrap: wrap;
        gap: 10px;
    }

    .filters button {
        font-size: 15px;
        padding: 8px 18px;
        width: 100%;
    }


    /* ••••••••••••••••••••••••••••• */
    /* Accommodation - Populars      */
    /* ••••••••••••••••••••••••••••• */


    .col-2,
    .col-1 {
        width: 100%
    }

    .col-1 .section-content {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .col-1 .article-content {
        padding-right: 5px;
    }


    /* ••••••••••••••••••••••••••••• */
    /* Activities                    */
    /* ••••••••••••••••••••••••••••• */


    .col-3 .section-content img {
        height: 200px;
    }

    .col-3 .article-content {
        height: 70px;
    }


    /* ••••••••••••••••••••••••••••• */
    /* Footer                        */
    /* ••••••••••••••••••••••••••••• */
 

    .main-footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-column {
        width: 30%;
    }

}


/* Small devices (phones, less than 768px) */


@media (max-width: 767.98px) {


    /* ••••••••••••••••••••••••••••• */
    /* General                       */
    /* ••••••••••••••••••••••••••••• */


    .main-header,
    .main-container {
        padding: 0;
        background-color: rgb(255, 255, 255);
        min-width: 320px;
    }


    /* ••••••••••••••••••••••••••••• */
    /* Header                        */
    /* ••••••••••••••••••••••••••••• */


    nav {
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
    }

    header img {
        width: 80px;
        height: auto;
        margin-top: 15px;
    }

    .main-nav {
        width: 100%;
        padding: 0;
        gap: 0;
    }

    .main-nav a {
        width: 100%;
        padding: 15px 0;
        border-top: none;
    }

    .main-nav a:hover {
        border-top: none;
    }

    .main-nav li {
        width: 100%;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .main-nav li:hover {
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .main-nav li a {
        display: flex;
        justify-content: center;
    }


    /* ••••••••••••••••••••••••••••• */
    /* Search                        */
    /* ••••••••••••••••••••••••••••• */


    .section-search {
        padding: 0 20px;
        box-sizing: border-box;
        gap: 20px;
    }

    .search {
        display: flex;
    }

    .search-content {
        width: 100%;
    }

    .search-content label {
        width: 48px;
    }

    .search-content button {
        width: 52px;
        padding: 0;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .search-content button span {
        display: none;
    }

    .search-content button i {
        margin: 0;
        display: block;
        color: rgb(255, 255, 255);
    }


    /* ••••••••••••••••••••••••••••• */
    /* Filters                       */
    /* ••••••••••••••••••••••••••••• */


    .filters li {
        width: 48%;
    }

    .filters button {
        font-size: 14px;
        justify-content: center;
        padding: 0;
    }


    /* ••••••••••••••••••••••••••••• */
    /* Main                          */
    /* ••••••••••••••••••••••••••••• */


    .info {
        box-sizing: border-box;
        padding: 0 20px;
        width: 100%;
    }

    .info p {
        width: 100%;
    }

    .row {
        flex-direction: column-reverse;
        height: auto;
        gap: 30px;
    }

    .row section {
        background-color: transparent;
    }

    .accommodations,
    .populars {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    .col-1 {
        background-color: #F2F2F2;
    }

    .section-footer {
        margin-top: 15px;
    }

    .section-footer a {
        font-size: 18px;
    }

    .col-1 .section-content,
    .col-2 .section-content,
    .col-3 .section-content {
        flex-direction: column;
    }

    .col-2 .section-content a,
    .col-3 .section-content a {
        width: 100%;
    }

    .col-3 .article {
        height: 200px;
    }

    .col-3 .section-content img {
        width: 100%;
        height: 141px;
    }

    .col-3 .article-content {
        height: 59px;
    }


    /* ••••••••••••••••••••••••••••• */
    /* Footer                        */
    /* ••••••••••••••••••••••••••••• */


    .main-footer {
        flex-direction: column;
        min-width: 320px;
    }

    .footer-column {
        width: 263px;
    }

}